html, body, #container{
  height: 100%;
  margin: 0;
}

.Shop
{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ShopInformation{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.Shop h1
{
  color: red;
  font-size: 30px;
}

.Shop p{
  font-size: 18px;
}
